<form class="form" (ngSubmit)="onSubmitForm()" [formGroup]="updateEmployeeForm">

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Employee Name</mat-label>
      <input matInput id="employeeName" type="text" formControlName="employeeName" />
      <div *ngIf="updateEmployeeForm.get('employeeName')?.touched && updateEmployeeForm.get('employeeName')?.errors?.['required']">
        Enter Your Name
      </div>
    </mat-form-field>
  </div>
  <br />

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Employee Age</mat-label>
      <input matInput id="employeeAge" type="text" formControlName="employeeAge" />
      <div *ngIf="updateEmployeeForm.get('employeeAge')?.touched && updateEmployeeForm.get('employeeAge')?.errors?.['required']">
        Please Your Age
      </div>
    </mat-form-field>
  </div>
  <br />

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Employee Gender</mat-label>
      <input matInput id="employeeGender" type="text" formControlName="employeeGender" />
      <div *ngIf="updateEmployeeForm.get('employeeGender')?.touched && updateEmployeeForm.get('employeeGender')?.errors?.['required']">
        Please Your Gender
      </div>
    </mat-form-field>
  </div>
  <br />

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>



